
<div class="tools b_radius">
    <div class="toolheader b_radius">
        <h3>UseCase</h3>
    </div>
    <div class="toolitem usecase b_radius">
        <img src="assets/images/UML/UML_Actor.png" class="b_radius toolimg float-left">
        <h5>UML Actor</h5>
    </div>
    <div class="toolitem usecase b_radius">
        <img src="assets/images/UML/UML_Case.png" class="b_radius toolimg float-left">
        <h5>UML Case</h5>
    </div>
    <div class="toolitem usecase b_radius">
        <img src="assets/images/UML/UML_Line.png" class="b_radius toolimg float-left">
        <h5>UML Line</h5>
    </div>
        
    <!-- <div #tbContainer id="tbContainer"></div> -->
</div>

<!-- <div class="tBar">
    <div #tbContainer id="tbContainer"></div>
</div> -->
<!-- <div #tbContainer id="tbContainer"></div> -->
<!-- <div class="container">
    <div class="col-md-">
        <div class="img-bloc">
            <img src="assets/images/UML/UML_Line.png" alt="">
            <h3></h3>
        </div>
    </div>
    <div class="col-md-">
        <div class="img-bloc">
            <img src="assets/images/UML/UML_Actor.png" alt="">
            <h3></h3>
        </div>
    </div>
    <div class="col-md-">
        <div class="img-bloc">
            <img src="assets/images/UML/UML_Case.png" alt="">
            <h3></h3>
        </div>
    </div>
</div> -->