<div class="row">
    <div class="col-md-8">
        <div *ngIf="loggedIn()" ngbDropdown class="d-inline-block" autoClose="outside">
            <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Файл</button>
            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
              <form class="px-4 py-3">
                <button (click)="toExplorer()" type="submit" class="btn btn-primary">Закрыть</button>
                <button (click)="newDocument()" type="submit" class="btn btn-primary">Новый</button>
              </form>
            </div>
          </div>
    </div>
  <div class="col-md-4">
    <div class="float-right">  
        <div *ngIf="loggedIn(); else loggedOut">
          <app-profile></app-profile>
        </div>
        <ng-template #loggedOut>
          <app-login></app-login>
        </ng-template>
      
    </div>
  </div>
</div>